@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
/* Defaults--------------------------- */
:root {
    --linear-gradient-solid: linear-gradient(rgba(0, 224, 254, 1), rgba(15, 6, 254, 1));
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900 !important;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
}

img {
    width: 100%;
}
/* Navbar Styling */
.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0);
}

.navbar-brand img {
    width: 150px;
    height: 100%;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
    background: -webkit-linear-gradient(#00e0feb3, #1107feb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Hero Section */
section {
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.7),rgba(0, 224, 254, 0.7));
    z-index: -1;
}

.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* BUTTON STYLES */
.btn-main {
    padding: 14px 22px;
    background: linear-gradient(#00e0feb3, #1107feb3);
    border: none;
    border-radius: 100px;
    font-weight: 600;
    transition: all 0.4s ease;
}

.btn:hover {
    color: #fff;
    transform: translateY(5px);
}

.contact-button {
    width: 85px;
    height: 60px;
    background: linear-gradient(#00e0feb3, #1107feb3);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 100px;
}

/* SERVICES SECTION */
.section-intro {
    margin-bottom: 40px;
}

.section-intro .divider {
    height: 3px;
    width: 70px;
    background: linear-gradient(to right, #00e0feb3, #1107feb3);
    margin: .75rem auto;
}
/* SERVICES SECTION STYLE */
.service .service-image {
    position: relative;
}

.service .service-image .icon {
    width: 90px;
    height: 90px;
    background: var(--linear-gradient-solid);
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}
.service .service-image .icon i {
    font-size: 36px;
}
/* CONTACT SECTION STYLE */
#contact {
    min-height: 50vh;
}

.bg-cover-2 {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

.button-title {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

/* FOOTER STYLE */
.footer {
    background: rgb(124, 124, 124);
    margin-top: 0 !important;
}

.social {
    padding: 0;
}

h4 {
    padding: 15px 0px;
}

.social li {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 41px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.social li a i {
    padding-top: 4px;
    color: var(--linear-gradient-solid);
    transition: .3s;
    font-size: 25px;
}

.social li a i:hover {
    color: violet;
    text-decoration: none;
}

.footer .links ul {
    list-style-type: none;
}

.footer .links li a {
    color: #fff;
    transition: color 0.2s;
}

.footer .links li a:hover {
    text-decoration: none;
    color: violet;
}

.footer .location i {
    font-size: 18px;
}

.footer .copyright p {
    font-size: 1.3rem;
    text-shadow: 1px ;
}

/* Portfolio styling */
.work-hero {
    margin-top: 7rem;
    background-size: cover;
    min-height: 75vh;
    position: relative;
    color: #fff;
}

.color-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}

.singleCol{
    max-width: 750px;
    margin: 0 auto;
}

.work-title {
    font-size: 4rem;
}


.work-cards {
    margin-top: 5rem;
}

.top-row {
    margin-bottom: 1rem;
}

.bottom-row {
    margin-bottom: 3rem;
}

/* Contact Page Style */
.form-top {
    margin-top: 5rem;
}

.contact {
    background: url(assets/keyboard.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

.head {
    background-color: #ee82ee;
    border-radius: 5px;
    margin-top: -40px;
    -webkit-box-shadow: 0px 10px 10px 0px rgba(238,130,238,0.6);
    -moz-box-shadow: 0px 10px 10px 0px rgba(238,130,238,0.6);
    box-shadow: 0px 10px 10px 0px rgba(238,130,238,0.6);
}

.effect-1 {
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
} 

.effect-1 ~ .Focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: violet;
    transition: 0.4s;
}

.effect-1:focus ~.Focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.btn-contact {
    background: violet;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 145px;
}

.btn-contact:hover {
    -webkit-box-shadow: 0px 10px 10px 0px rgba(238,130,238,0.6);
    -moz-box-shadow: 0px 10px 10px 0px rgba(238,130,238,0.6);
    box-shadow: 0px 10px 10px 0px rgba(238,130,238,0.6);
}